button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #007bff; 
  }
  
  img {
    width: 44px; 
    height: auto;
  }

  .cartCount {
    font-size: 1rem; 
    margin-left: 3px; 
    font-weight: bold; 
    color: #e01f1f;
  }
  