header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #1c77d8; 
    color: #fff; 
  }
  
  nav {
    display: flex;
    gap: 1.8rem;
  }
  
  header a {
    text-decoration: none;
    color: #fff; 
    margin-right: 40px;
  }
  
  a:hover {
    text-decoration: underline;
  }

  .cart-button {
    border: none;
    background: none;
    color: white;
    cursor:pointer;
}

.cartIcon {
  margin-left: 50px; /* Ajusta el valor según sea necesario */
  padding: 0;
}
